<% include partials/header %>
        <h1><%= user.display_name %></h1>
        <h2>Assets</h2>
        <table border = "1">
        <tr>
            <th>Stock Symbol</th>
            <th>Quantity</th>
            <th>Value</th>
        </tr>
        <% longs.forEach(function(stock){ %>
        <tr>
            <td><%= stock.symbol %></td>
            <td><%= stock.quantity %></td>
            <td><%= stock.total %></td>
        </tr>
        <% }) %>
        <tr>
            <th colspan="2">Cash</th>
            <td><%= user.balance %></td>
        </tr>
        <tr>
            <th colspan="2">Total</th>
            <td><%= user.assets %></td>
        </tr>
        </table>
        <h2>Liabilities</h2>
        <table border = "1">
        <tr>
            <th>Stock Symbol</th>
            <th>Quantity</th>
            <th>Value</th>
        </tr>
        <% shorts.forEach(function(stock){ %>
        <tr>
            <td><%= stock.symbol %></td>
            <td><%= stock.quantity %></td>
            <td><%= stock.total %></td>
        </tr>
        <% }) %>
        <tr>
            <th colspan="2">Total</th>
            <td><%= user.liabilities %></td>
        </tr>
        </table>
        <h2>Net Worth: <u><%= user.assets-user.liabilities %></u></h2>
        <p><a href="/">Back</a></p>
<% include partials/footer %>